@charset 'UTF-8';

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

:root {
  --font1: "Passion one", cursive;
  --font2: "Sriracha", cursive;
}

* {
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: black;
  color: white;
}

header > h1 {
  text-align: center;
  font-family: var(--font1);
  font-weight: bold;
  padding-top: 50px;
  font-size: 10vw;
}

header > p {
  text-align: center;
  padding-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

header > p > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

body {
  height: 97vh;
}

.normal {
  padding: 10vh 0vh;
  padding-left: 30px;

  font-size: 3.5em;
  font-family: var(--font2);

  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.179);
}

.imagem1 {
  padding: 10vh 0vh;
  padding-left: 30px;

  font-size: 3.5em;
  font-family: var(--font2);

  background-image: url(imagens/background001.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center right;

  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.195);
  box-shadow: inset 6px 6px 15px rgba(0, 0, 0, 0.779);
}

.imagem1 > p {
  background-color: rgba(0, 0, 0, 0.514);
  color: white;

  padding: 10px;
  display: inline-block;
}

.imagem2 {
  padding: 10vh 0vh;
  padding-left: 30px;

  font-size: 3.5em;
  font-family: var(--font2);

  background-image: url(imagens/background002.jpg);
  background-size: cover;
  background-attachment: fixed;

  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.195);
  box-shadow: inset 6px 6px 15px rgba(0, 0, 0, 0.779);
}

.imagem2 > p {
  background-color: rgba(0, 0, 0, 0.514);
  color: white;

  padding: 10px;
  display: inline-block;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

footer > p > a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

a {
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
  transform: scale(1.1);

  color: rgb(104, 104, 104);
}
